<h2>Edit bicyclist</h2>

<%= render "form.html", changeset: @changeset,
                        action: bicyclist_path(@conn, :update, @bicyclist) %>

<%= link "Back", to: bicyclist_path(@conn, :index) %>
