<h1>О проекте</h1>

<p>Идея и правила подсчета: Денис Пятаков (XC TRAINING)</p>

<p><a href="http://krylov-alexey.ru" target="_blank">Разработка и поддержка</a></p>
<p><a href="https://github.com/forsaken1/uphill-rating" target="_blank">Репозиторий проекта</a></p>

<br>
<br>

<a href="http://elixir-lang.org" target="_blank"><img src="/images/logo-2.png"></a>
