<h1>О проекте</h1>

<p>Идея и правила подсчета: Денис Пятаков (XC TRAINING)</p>

<a href="http://krylov-alexey.ru" target="_blank">Разработка и поддержка</a>

<br>
<br>

<img src="/images/logo-2.png">
